.jumbotron{
	background-image: url(https://github.com/hideoda/hideoda/blob/main/yokohama.yakei1.jpg?raw=true);
	background-size: cover;
	background-position: center: 50px; top: 80px;
}


	

.jumbotronh1{
	margin-top: 50px;
	margin-left: 1vw;
	margin-bottom: 200px; 
	display: inline-block;
	color: #170F56    ;
	background-color: rgba(0,0,0,0.0);
	padding: 1vw;
	border-style: groove;
	border-color: rgb(91,94,151);
	border-radius: 100px;
	font-size: 4vw;

}

.jumbotron1{
	background-image: url(../imagesfinal/plane.jpg);
	background-size: cover;
	background-position: right; bottom: 
}

.jumbotronh2{
	margin-top: 50px;
	margin-left: 5vw;
	margin-bottom: 90px;
	display: inline-block;
	color: #212F3C;
	
	padding: 1vw;
	
	font-size: 7vw;
	padding-bottom: px;
}

.jumbotronh3{
	margin-top: 0px;
	margin-left: 5vw;
	margin-bottom: 100px;
	display: inline-block;
	color: white;
	background-color: rgba(0,0,0,0.0);
	padding: 1vw;
	
	font-size: 4vw;
	padding-bottom: px;
}

.jumbotron4{
	background-image: url(../imagesfinal/city.jpg);
	background-size: contain;
	background-position: 
}

figcaption{
    text-align: center;
    margin-top: 1vw;
}

a{
	text-decoration: none;
}

figure img:hover{
	opacity: 0.7;
	
}




.jumbotron2{
	background-image: url(../imagesfinal/myroom.jpg);
	background-size: cover;
	background-position: top: ;
}

.jumbotronh4{
	margin-top: 70px;
	margin-left: 5vw;
	margin-bottom: 50px;
	display: inline-block;
	color: white;
	background-color: rgba(0,0,0,0.0);
	padding: 1vw;
	
	font-size: 4vw;
	padding-bottom: px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%
}



.fa: hover {
     opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
